body{
    background-color: blueviolet;
}
.Contenedor{
    text-align: center;
    padding: 5px;
}
.imagen1{
    width: 300px;
}
.ImagenPelicula1{
    width: 300px;
    height: 300px;
}
.ImagenPelicula2{
    width: 300px;
    height: 300px;
}
.ImagenPelicula3{
    width: 300px;
    height: 300px;
}