<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="Contenedor">
        <h1>Bienvenidos a mi pagina</h1>
    </div>       

    <div class="Contenedor">
        <a href="/Home/Peliculas/Batman1/"><img src="{%static 'imagenes/batman1.jpg' %}" class="ImagenPelicula1"></a>
    </div>

    <div class="Contenedor">
        <a href="/Home/Peliculas/Batman2/"><img src="{%static 'imagenes/batman2.jfif' %}" class="ImagenPelicula2"></a>
    </div>

    <div class="Contenedor">
        <a href="/Home/Peliculas/Batman3/"><img src="{%static 'imagenes/batman3.jpg' %}" class="ImagenPelicula3"></a>
    </div>
</body>
</html>